p {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
}

img {
    width: 100%;
}

.description { 
    background-color: aquamarine;  
    /*
    border: 1px solid black;
    border-radius: 5px;
    */
    margin: 5px;
}

.album-name{ 
    font-weight: bold;
}